@charset "UTF-8";
header {
  color: hsl(40, 100%, 50%);
  border: black;
}
header .logosredes {
  display: inline-flex;
  padding: 5px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  border-radius: 20px;
  margin-left: 459px;
}
@media screen and (max-width: 789px) {
  header .logosredes {
    margin-left: 20px;
  }
}
header .logoprincipal {
  font-variant: small-caps;
  text-shadow: 4px 11px 10px;
}
header ul {
  display: flex;
}
@media screen and (max-width: 789px) {
  header ul {
    flex-direction: column;
  }
}
header .todoelmenu .menu {
  text-align: center;
  margin: 10px;
}
header .menu {
  display: flex;
  grid-auto-flow: dense;
}
header img {
  width: 50px;
  border-radius: 20px;
  margin-right: 25px;
}
header nav ul a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  display: block;
}
header li a:hover {
  background: hsl(40, 100%, 50%);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  color: blue;
}

.seco {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../IMAGENES/CONSTRUCCION\ EN\ SECO\ MENU.jpg);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.menuprincipal {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../IMAGENES/fondo.jpg);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.electricidad {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/electricidad.jfif);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.albañileria {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../IMAGENES/albañileriapara\ menu.jfif);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.herreria {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../IMAGENES/herreria\ para\ menu.jfif);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.contacto {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../IMAGENES/contacto\ para\ el\ menu.jfif);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

section h3 {
  color: hsl(40, 100%, 50%);
  text-align: center;
  margin: 10px;
  font-variant: small-caps;
}
section h3 * {
  margin: 0;
  padding: 0;
  font-family: lato;
}
section h3 iframe {
  transform: translate(350px);
}
section h3 .slider-frame {
  width: 700px;
  height: 300px;
  margin: 50px auto 0;
  overflow: hidden;
}
section h3 .slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}
section h3 .slider-frame ul li {
  width: 100%;
  height: auto;
  list-style: none;
}
section h3 .slider-frame ul li img {
  width: 100%;
  height: auto;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}/*# sourceMappingURL=style.css.map */