@charset "UTF-8";
header {
  color: hsl(40, 100%, 50%);
  border: black;
}
header .logosredes {
  display: inline-flex;
  padding: 5px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  border-radius: 20px;
  margin-left: 459px;
}
@media screen and (max-width: 789px) {
  header .logosredes {
    margin-left: 200px;
  }
}
@media screen and (max-width: 789px) and (max-width: 570px) {
  header .logosredes {
    margin-left: 20px;
  }
}
header .logoprincipal {
  font-variant: small-caps;
}
header ul {
  display: flex;
}
@media screen and (max-width: 789px) {
  header ul {
    flex-direction: column;
  }
}
header .todoelmenu .menu {
  text-align: center;
  margin: 10px;
}
header .menu {
  display: flex;
  grid-auto-flow: dense;
}
header img {
  width: 50px;
  border-radius: 20px;
  margin-right: 25px;
}
header nav ul a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  display: block;
}
header li a:hover {
  background: hsl(40, 100%, 50%);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  color: blue;
}

.seco {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/construccionensecomenu.jpg);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.menuprincipal {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/fondo.jpg);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.electricidad {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/electricidad.jpg);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.albañileria {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/albañileriaparamenu.jpg);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.herreria {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/herreriaparamenu.jpg);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

.contacto {
  background: linear-gradient(rgba(133, 159, 216, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/contactoparaelmenu.jpg);
  background-size: 100%;
  border-radius: 20px;
  margin-right: 25px;
  border-style: outset;
}

section h3 {
  color: hsl(40, 100%, 50%);
  text-align: center;
  margin: 10px;
  font-variant: small-caps;
}
section h3 * {
  margin: 0;
  padding: 0;
  font-family: lato;
}
section h3 iframe {
  transform: translate(350px);
}
section h3 .slider-frame {
  width: 200px;
  height: 200px;
  margin: 50px auto 0;
  overflow: hidden;
}
section h3 .slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}
section h3 .slider-frame ul li {
  width: 100%;
  height: auto;
  list-style: none;
}
section h3 .slider-frame ul li img {
  width: 100%;
  height: 100;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../image/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 330vh;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: arial;
  margin-top: 80px;
  color: aqua;
  text-shadow: 0px 0px 6px black;
}

.content-all {
  width: 210px;
  margin: auto;
  perspective: 800px;
  position: relative;
  margin-top: 50px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:hover {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
  width: 100%;
  transition: all 300ms;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
footer {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(229, 221, 212);
}

.gridcontainer {
  display: grid;
  grid-template-areas: "header" "section section" "footer";
}
.gridcontainer .gridcontainer header {
  grid-area: header;
  width: auto;
  height: auto;
}
.gridcontainer .gridcontainer section {
  grid-area: section;
  background-color: rgb(3, 3, 3);
  width: auto;
  height: auto;
}
.gridcontainer .gridcontainer footer {
  grid-area: footer;
  width: auto;
  height: auto;
}
.gridcontainer #page-content {
  flex: 1 0 auto;
}/*# sourceMappingURL=style.css.map */